
h1{
    font-size: 3em;
    text-align: center;
}
.modal{

    background: #fff;
    border-radius: 4px;
    margin: 0 auto;
    padding: 3em;
    width: 74em;
    max-width: 100%;
}
.what1{
    font-size: 1.5em;
    text-align: left;

}
/*p{*/
    /*font-size: 1.5em;*/
    /*!*text-align: justify;*!*/
/*}*/